<label class="{{unless showLabel 'placeholder'}}">{{label}}</label>
<div class="input-container">
  {{#power-select
    options=options
    selected=value
    searchPlaceholder="Search"
    allowClear=true
    placeholder=label
    onchange=(action changedAction fieldId)
    onclose=onclose
    as |option|
    }}
    {{option}}
  {{/power-select}}
{{component inputIcon class='form-field-icon'}}
</div>
{{#if error}}
  <div class='field-error'>{{svg/icon-curved-arrow-right}}{{error}}</div>
{{/if}}