<label class="{{unless showLabel 'placeholder'}}">{{label}}</label>
<div class="input-container">
	{{input
	  value=value
	  focusOut=(action 'onFocusOut')
	  focusIn=(action 'onFocusIn')
	  keyUp=(action 'onKeyUp')
	  placeholder=label
	  autofocus=autofocus
		type=type
		readonly=readonly
		disabled=disabled
	}}
{{component inputIcon class='form-field-icon'}}
</div>
{{#if error}}
	<div data-test-id='field-error' class='field-error'>{{svg/icon-curved-arrow-right}}{{error}}</div>
{{/if}}