{{extensible/form-field-label formField=formField}}
{{#power-datepicker selected=selected onSelect=(action 'setDate' value="date") closeOnSelect=false center=center as |dp|}}
  {{#dp.trigger tabindex='-1' onKeyDown=(action "onTriggerKeydown")}}
    <div class="field-controls">
      <div data-test-type='form-field-power-datepicker'>
        <input type='text' class="my-input-class" readonly value={{if formField.value (moment-format formField.value 'DD-MM-YYYY hh:mm')}}
          placeholder={{formField.placeholder}} onfocus={{action "openDropdown" dp}}/>
        {{component inputIcon class='form-field-icon'}}
    </div>
  </div>
  {{extensible/form-field-error formField=formField}}
  {{/dp.trigger}}
  {{#dp.content class="demo-datepicker-small ember-power-calendar" }}
    <nav class="ember-power-calendar-nav">
      <button type="button" class="ember-power-calendar-nav-control" onclick={{action dp.actions.moveCenter -12 'month'}}>«</button>
      <button type="button" class="ember-power-calendar-nav-control" onclick={{action dp.actions.moveCenter -1 'month'}}>‹</button>
      <div class="ember-power-calendar-nav-title">
        {{moment-format dp.center 'MMMM YYYY'}}
      </div>
      <button class="ember-power-calendar-nav-control" onclick={{action dp.actions.moveCenter 1 'month'}}>›</button>
      <button class="ember-power-calendar-nav-control" onclick={{action dp.actions.moveCenter 12 'month'}}>»</button>
    </nav>
    {{dp.days showDaysAround=true}}
  {{/dp.content}}
{{/power-datepicker}}