<div class="radio-button-group-container">
  <div class="radio-button-group-label">
    {{#if labelComponent}}<label>{{component labelComponent}}</label>{{else if label}}<label>{{label}}</label>{{/if}}
  </div>
  {{#each options as |option|}}
    {{custom-elements/radio-button-element
      value=option.value
      groupValue=groupValue
      required=false
      name=name
      disabled=disabled
      label=option.label
      changedAction=(action 'onRadioCheckboxClick' groupValue propertyName)
      fieldName=option.fieldName
    }}
  {{/each}}
  {{component inputIcon class='form-field-icon'}}
</div>
{{#if error}}
  <div class='field-error'>{{svg/icon-curved-arrow-right}}{{error}}</div>
{{/if}}