{{#unless formField.hideLabel}}
  {{#if formField.labelComponent}}
    <label for={{formField.name}}>{{component labelComponent}}</label>
  {{else if formField.fieldLabel}}
    <label for={{formField.name}}>{{formField.fieldLabel}}</label>
  {{/if}}
{{/unless}}
{{#if formField.legendComponent}}
  <legend>{{component legendComponent}}</legend>
{{else if formField.fieldLegend}}
  <legend>{{formField.fieldLegend}}</legend>
{{/if}}
<div class="field-controls">
  {{yield}}
  {{component inputIcon class='form-field-icon'}}
</div>
{{#if formField.error}}
  <div data-test-id='field-error' class='field-error'>{{svg/icon-curved-arrow-right}}{{formField.error}}</div>
{{/if}}
