{{extensible/form-field-label formField=formField}}
{{extensible/form-field-legend formField=formField}}
<div class="field-controls">
  {{yield}}
  {{component inputIcon class="form-field-icon"}}
</div>
{{extensible/form-field-error formField=formField}}