<div class="jobs-per-page">
  <div class="arrows">
    <div onclick={{action setProperty "pageSize" pageSizeIncrement}} class="incrementing-arrow up-down up" title="Next">{{svg/icon-arrow-up}}</div>
    <div onclick={{action setProperty "pageSize" pageSizeDecrement}} class="incrementing-arrow up-down down" title="Last">{{svg/icon-arrow-down}}</div>
  </div>
  <p><span class="page-size">{{pageSize}}</span> items per page</p>
</div>
<span class="pagination-divider"></span>
<div class="page-navigation">
  {{#if previousPage}}
    <div onclick={{action setProperty "pageNumber" firstPage}} class="incrementing-arrow left-right right" title="First">{{svg/icon-arrow-left-double}}</div>
    <div onclick={{action setProperty "pageNumber" previousPage}} class="incrementing-arrow left-right right" title="Previous">{{svg/icon-arrow-left}}</div>
  {{/if}}
  <div class="page-number-input">Page
    {{input value=(readonly pageNumber) change=(action (action setProperty "page") value="target.value")}}
    of {{numberOfPages}}</div>
  {{#if nextPage}}
    <div onclick={{action setProperty "pageNumber" nextPage}} class="incrementing-arrow left-right right" title="Next">{{svg/icon-arrow-right}}</div>
    <div onclick={{action setProperty "pageNumber" lastPage}} class="incrementing-arrow left-right right" title="Last">{{svg/icon-arrow-right-double}}</div>
  {{/if}}
</div>
<div class="clr"></div>