<h3>{{formMetaData.title}}</h3>
<form {{action "submit" on="submit"}}>
  {{#each formFields as |formField index|}}
    {{#if (or (eq formField.fieldType "input") (eq formField.fieldType "textarea")) }}
      {{component formField.component
        formField=formField
        labelComponent=formField.labelComponent
        fieldUpdatedAction=(action "setFormValue")
        customValidations=(action 'customValidations')
      }}
    {{/if}}
    {{#if (eq formField.fieldType "date") }}
      {{component formField.component
        formField=formField
        fieldUpdatedAction=(action "setFormValue")
      }}
    {{/if}}
    {{#if (eq formField.fieldType "select") }}
      {{component formField.component
        formField=formField
        searchPlaceholder="Search"
        allowClear=true
        fieldUpdatedAction=(action "setFormValue")
        changedAction=(action "setFormValue")
      }}
    {{/if}}
    {{#if (eq formField.fieldType "singleCheckbox") }}
      {{component formField.component
        formField=formField
        fieldUpdatedAction=(action "setFormValue" formField.fieldId)
        changedAction=(action "setFormValue" formField.fieldId)
      }}
    {{/if}}
    {{#if (eq formField.fieldType "radioButtonGroup") }}
      {{component formField.component
        formField=formField
        fieldUpdatedAction=(action "setFormValue")
        changedAction=(action "setFormValue"  formField.fieldId)

      }}
    {{/if}}
    {{#if (eq formField.fieldType "textSeparator") }}
        {{component formField.component
          formField=formField
        }}
    {{/if}}
    {{#if (eq formField.fieldType "customComponent") }}
      {{component formField.component
        formField=formField
      }}
    {{/if}}
  {{/each}}
  {{custom-elements/form-submit-input value=submitButtonText requestInFlight=requestInFlight}}
</form>