<div class="top">
  {{yield}}
  <div class="clr"></div>
</div>
<div class="clr"></div>
<div class="bottom">
  {{#if filtersActive}}
    <div class="filtering-results">
      <p class="jobs-returned"><span class="filter-button">{{svg/icon-asterisk}}</span>Filters are active ({{filteredItemsLength}} {{custom-inflector filteredItemsLength singular='item'}} returned).</p>
    </div>
  {{/if}}
  <button {{action applyFilters}} class='submit-filters'>Submit</button>
  <button {{action clearAllFilters}} class='reset-filter-settings secondary'>Reset</button>
  <div class="clr"></div>
</div>

