<ul>
  <li {{action "toggleFullNav"}} class="menu-toggle">
    <div class="hamburger">
      <span class="hamburger-stripe"></span>
      <span class="hamburger-stripe"></span>
      <span class="hamburger-stripe"></span>
    </div>
    {{!-- {{svg/icons/icon-collapse-menu class="nav-collapse"}} --}}
  </li>
  <li>{{#link-to "signup" class="signup"}}{{svg/icons/icon-user class="dashboard"}}Signup{{/link-to}}</li>
  <li>{{#link-to "edit-account" class="edit-account"}}{{svg/icons/icon-edit-pencil class="dashboard"}}Edit Account{{/link-to}}</li>
  <li>{{#link-to "users" class="users"}}{{svg/icons/icon-user class="users"}}Users{{/link-to}}</li>
</ul>
{{test-one}}