<ul>
	<li  {{action 'toggleFullNav'}} class='menu-toggle'>
		<div class='hamburger'>
			<span class='hamburger-stripe'></span>
			<span class='hamburger-stripe'></span>
			<span class='hamburger-stripe'></span>
		</div>
		{{svg/icon-collapse-menu class='nav-collapse'}}
	</li>
  <li>{{#link-to 'dashboard' class='dashboard'}}{{svg/icon-home class='dashboard'}}Dashboard{{/link-to}}</li>
	<li>{{#link-to 'signup' class='dashboard'}}{{svg/icon-user class='dashboard'}}Signup{{/link-to}}</li>
	<li>{{#link-to 'dynamic-forms' class='dashboard'}}{{svg/icon-new-doc class='dashboard'}}Dynamic Forms{{/link-to}}</li>
</ul>